@font-face {
  font-family: "Satoshi";
  src: url(./assets/Satoshi-Variable.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
}

#container {
  width: 20%;
  height: 100vh;
  padding: 10px;
  overflow: auto;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  width: 100%;
  gap: 8px;
  background: #c4dfdf;
  border-radius: 500px;
  position: relative;
  color: black;
}

#search {
  width: 100%;
  font-size: 15px;
  padding: 24px 46px 24px 26px;
  border: none;
  outline: none;
  background: #c4dfdf;
  border-radius: 500px;
  position: relative;
  color: black;
}

.btn {
  color: white;
  position: absolute;
  right: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(90deg, #2af598 0%, #009efd 100%);
  border: 0;
  display: inline-block;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

button:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  transform: translateY(-3px);
}

/* Button pressing effect */
button:active {
  box-shadow: none;
  transform: translateY(0);
}

.places {
  width: 100%;
  overflow-y: auto;
  margin-top: 25px;
  padding: 15px;
  border-radius: 5px;
  background: #f8f6f4;
}

.places h2 {
  text-transform: uppercase;
  background-color: #c4dfdf;
  color: black;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.places ul {
  padding: 0;
  margin: 0;
  list-style: none;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 10px;
}

.places li {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  background: #e3f4f4;
}

.places li a {
  background: #7ab2b2;
  color: black;
  font-size: large;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.places li p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 5px;
  height: 2px;
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #e8e8e8;
  border-radius: 10px;
}

#map {
  width: 80%;
  height: 100vh;
}

.leaflet-popup-content-wrapper {
  height: 28vh;
  width: 19vw;
  background: hsl(0, 0%, 100%);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.leaflet-popup-content {
  max-height: 80%;
  max-width: 80%;
  padding: 10px;
}

.leaflet-popup-content img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

.leaflet-popup-content-wrapper {
  width: 300px;
  height: 325px;
  overflow: hidden;
}

.leaflet-popup-content img {
  width: 100%;
  height: 100%;
}

.leaflet-popup-content h4 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.leaflet-popup-content p {
  margin-top: 10px;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #container {
    width: 100%;
    height: 20vh;
  }

  #map {
    width: 100%;
    height: 90vh;
  }

  .places {
    height: auto;
  }

  .leaflet-popup-content-wrapper {
    width: 60vw;
    height: 80vw;
  }

  .leaflet-popup-content img {
    height: auto;
  }
}
